<!-- search.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (head content) ... -->
</head>
<body>
    {% extends 'base.html' %}

    {% block header %}
    {% endblock %}
    {% block content %}
    <div class="container mt-4">
        <h2 class="mb-4">Search Results</h2>

        <!-- Filter Form -->
        <form action="/search_cars" method="get" class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="typeFilter">Filter by Type:</label>
                        <select id="typeFilter" name="type" class="form-control">
                            <option value="ECONOMIC">Economic</option>
                            <option value="PRESTIGE">Prestige</option>
                            <option value="PREMIUM">Premium</option>
                            <option value="LUXURY">Luxury</option>
                            <!-- Add more options for other types as needed -->
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="orderBy">Order by Price:</label>
                        <select id="orderBy" name="order_by" class="form-control">
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="transmissionFilter">Choose by Transmission:</label>
                        <select id="transmissionFilter" name="transmission" class="form-control">
                            <option value="">All Transmissions</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                            <!-- Add more options for other transmissions as needed -->
                        </select>
                    </div>
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary mt-4">Apply Filter</button>
        </form>

        {% if cars %}
            <div class="row">
                {% for car in cars %}
                <div class="col-md-4 mb-4 card-group">
                    <div class="card fixed-size-card rounded">
                        <img src="{{ car.image }}" class="card-img-top " alt="Car Image">
                        <div class="card-body">
                            <h4 class="card-title fw-bold">{{ car.name }}</h4>
                            <p class="card-text">Type: {{ car.type }}</p>
                            <p class="card-text">Transmission: {{ car.transmission }}</p>
                            <p class="card-text">Deposit: {{ car.deposit }}</p>
                            <p class="card-text">Mileage: {{ car.mileage }}</p>
                            <p class="card-text">Age: {{ car.age }}</p>
                            {% if user %}
                                <!-- Display discounted cost for logged-in users -->
                                <p class="card-text text-decoration-line-through">Cost: {{ car.cost }} TL</p>
                                <p class="card-text text-danger">Discounted Cost: {{ car.discounted_cost }} TL</p>
                            {% else %}
                                <p class="card-text text-danger">Cost: {{ car.cost }} TL</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        {% else %}
            <p>No cars found.</p>
        {% endif %}
    </div>
    

{% endblock %}
</body>
</html>